[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easyprocess = "<=0.2.10"
pysimavr = "*"
pandas = "*"
entrypoint2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
